body {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-wrap: break-word;
}

.body-overflow {
    overflow-y: auto;
}

.container-fluid,
.row-fluid {
    height: inherit;
}

.navbar {
    min-height: 5% !important;
    margin-bottom: 0px !important;
    border-radius: 0;
}

.navbar-nav>li>a,
.navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar-toggle {
    padding: 0 0;
    margin-top: 7px;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
    cursor: not-allowed;
}