body {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-wrap: break-word;
}

.body-overflow {
    overflow-y: auto;
}

.container-fluid,
.row-fluid {
    height: inherit;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0;
    font-size: 12px;
    min-height: 28px !important;
}

.navbar-form {
    margin-top: 2px;
    margin-bottom: 1px;
    min-height: 0px !important;
}

.navbar-nav>li>a,
.navbar-brand {
    padding: 0 15px;
    font-size: 12px;
    min-height: 0px !important;
    height: 28px !important;
}

.navbar-toggle {
    padding: 0 0;
    margin-top: 7px;
}

.dropdown-submenu {
    position: relative;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
    cursor: not-allowed;
}