body {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-wrap: break-word;
}

.body-overflow {
    overflow-y: auto;
}

.container-fluid,
.row-fluid {
    height: inherit;
}

a.disabled {
    color: gray !important;
    pointer-events: none;
    cursor: not-allowed;
}